* {
  scroll-behavior: smooth;
}
.bg-dark {
  background-color: rgba(0, 0, 0, 0) !important;
}
.bg-nontrans {
  background-color: #4d4d4d !important;
}

.headfoot {
  background-color: #343a40 !important;
}
.navbar-nav {
  padding-right: 50px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.3rem;
  padding-left: 0.5rem;
}
a .nav-link {
  margin-right: 15px;
}
#myCarousel {
  height: 100vh;
}
.carousel-item img {
  height: 100vh;
}
#parallax {
  height: 100vh;
  background-image: url(../img/wp6202781-minimalist-illustration-wallpapers.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #eaeaea;
  text-align: center;
}
#parallax .title {
  margin-top: 160px;
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 1);
}
h6 {
  color: white !important;
}
.list-unstyled li a {
  text-decoration: none;
  color: white;
}

/* STYLE FOR SECTION */
section {
  padding-top: 50px;
  min-height: 420px;
}
#home {
  padding-top: 0px;
}
#about {
  min-height: 680px;
}
.portofolio .card {
  opacity: 0;
  transform: translate(0, 40px);
  transition: 0.5s;
}
.portofolio .card.show {
  opacity: 1;
  transform: translate(0, 0);
}
#jobdesc {
  height: 600px;
  background-image: url("../img/razer-gaming-setup-8k-hr-1366x768.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#foot {
  background-color: #343a40 !important;
}

/* .pKiri,
.pKanan {
  opacity: 0;
  transform: translate(-50px, 0);
  transition: 1s;
}
.pKanan {
  transform: translate(50px, 0);
}
.pKiri.pMuncul,
.pKanan.pMuncul {
  opacity: 1;
  transform: translate(0, 0);
} */

@media screen and (max-width: 575px) {
  .bg-dark {
    background-color: #343a40 !important;
  }
  #home {
    margin-top: 50px;
  }
}
